<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>The quality of the dataset is high overall. The data consists of official information collected from 193 countries in the world. 
           Most of the outlier values (0) seem to be legitimate. But it should be acknowledged that using the same units of measurement (servings) for 
           beer, wine and spirits fail to account for the difference in alcohol content in these three drinks. Therefore, the numbers among the three types of drinks might not be comparable. 
        </a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>
		The data is mostly complete. It consists of alcohol consumption per capita for beer, spirits and wine from 193 countries.
	   This is a fairly comprehensive representation of drinking statistics of the major countries in the world.
	   For the purpose of the analysis, it might be helpful to also include data such as percentage of abstainers in the population. 
	   It will also be interesting to see a breakdown of different types of spirits for each country.
	
	</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>The data is mostly coherent. Please see the chart below for a breakdown on different types of alcohol consumed by the top 20 drinking countries in the world (sorted in descending order). 
	As suggested by the chart, the data confirms many of the widely-held stereotypes. For example, people from Scandinavian countries drink a lot potentially due to the extreme weather. 
	It also suggests that beer appears to be the most popular alcoholic beverage choice around the world. <br>
	However, it might be slightly problematic to use the same meaurement units (number of servings) for the three types of drinks as they vary in alcohol content. 
	
	 </p>
	
	<blockquote class="imgur-embed-pub" lang="en" data-id="nbwPGcM"><a href="//imgur.com/nbwPGcM">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
	   
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p> Yes and No.<br>
		The data confirms my expectation that people in Islamic countries are the most likely to abstain from alcohol. 
		Most of countries with predominantly Muslim populations report zero alcohol consumption. <br>
		However, the data also reports zero for North Korea, a country where government bans drinking but people still drink in secret. 
		One possible explanation for this might be that it is extremely difficult to collect accurate data from a country that isolates itself from the rest of the world.
	</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
